@import "nullstyle.css";

html, body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #1b1b1b;
    font-size: 14px;
    font-weight: 500;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

[class*="__container"] {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

/* ----------------------------------- page ----------------------------------- */

.page {
    padding: 64px 0;
}

.cameras {}

.cameras__body {
    display: flex;
    column-gap: 38px;
}

.cameras__filter {}

.cameras__count {
    color: #898989;
    line-height: 1.4;
    margin: 0 0 5px 0;
}

.cameras__title {
    line-height: 1.4;
    font-weight: 700;
    font-size: 32px;
    margin: 0 0 13px 0;
}

.cameras__price {
    display: flex;
    margin: 0 0 24px 0;
}

.cameras__shortcut {
    line-height: 1.4;
    font-weight: 700;
    font-size: 16px;
    display: block;
    margin: 0 0 12px 0;
}

.cameras__price-input {
    border: 1px solid #dbdbdb;
    line-height: 1.4;
    padding: 10px 12px;
    max-width: 112px;
    cursor: pointer;
}

.cameras__price-input_1 {
    border-right: 0;
    border-radius: 4px 0 0 4px;
}

.cameras__price-input_2 {
    border-radius: 0 4px 4px 0;
}

.cameras__brands {}

.cameras__brand {}

.cameras__items {}

/* ----------------------------------- @media ----------------------------------- */

