@import "nullstyle.css";

:root {
    --color-1: #44c477;
    --color-2: #ff681c;
    --color-3: #7993a6;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #1b1b1b;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

._container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

/* ----------------------------------- page ----------------------------------- */

.page {}

.page__main-block {}

.main-block {
    padding: 64px 0;
}

.main-block__container {}

/* ----------------------------------- @media ----------------------------------- */

@media (max-width: 1199px) {
    ._container {
        max-width: 960px;
    }
}

@media (max-width: 991px) {
    ._container {
        max-width: 720px;
    }
}

