@import "nullstyle.css";

:root {}

html, body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #1b1b1b;
}

.wrapper {
    /*display: flex;*/
    /*flex-direction: column;*/
    min-height: 100%;
    overflow: hidden;
}

._container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

/* ----------------------------------- page ----------------------------------- */

.page {}

.page__main-block {}

.main-block {
    padding: 64px 0;
}

.main-block__container {}

